.slds-path__item.disabled,
.slds-path__item.disabled * {
	cursor: not-allowed;
}

/* overrides SFs 'completed' step animation and shows the title all the time */
.no-transform {
	transform: unset !important;
}

.no-decoration {
	text-decoration: none !important;
}

.slds-path__item * {
	cursor: pointer;
}

.checkmark {
	--sds-c-icon-color-foreground-default: white;
}